# Node modules
node_modules

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Cache and build directories
**/dist/
**/build/
**/.cache/
**/.next/
**/out/

# OS-specific files
.DS_Store
Thumbs.db


# Other
*.swp
*.swo
infrastructure

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
