# Node modules
node_modules

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# Cache and build directories
**/dist/
**/build/
**/.cache/
**/.nuxt/
**/out/

# OS-specific files
.DS_Store
Thumbs.db

# Docker files
docker-compose.override.yml
docker-compose.yml
Dockerfile

# Other
*.swp
*.swo
infrastructure
